DEBUG=True
SECRET_KEY=sige-django-insecure-enterprise-key-2026-secret-mz!
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Configuration (PostgreSQL / SQLite fallback for local test)
DATABASE_URL=sqlite:///db.sqlite3
# DATABASE_URL=postgres://sige_user:sige_secure_pass_2026@localhost:5432/sige_db

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://localhost:80

# JWT Configuration
JWT_SECRET_KEY=sige_super_secret_jwt_key_enterprise_2026_xpto!
JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=7
