# Configurações do Servidor
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

# Banco de Dados (SQLite para dev local sem dependências / PostgreSQL para Docker e Produção)
DATABASE_URL="file:./dev.db"
# Para PostgreSQL:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sige_db?schema=public"

# Segurança e JWT
JWT_SECRET=sige_super_secret_jwt_key_enterprise_2026_xpto!
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=sige_super_secret_refresh_token_enterprise_2026!
JWT_REFRESH_EXPIRES_IN=7d

# Configurações do SaaS
DEFAULT_TRIAL_DAYS=30
CRON_SCHEDULE="0 0 * * *" # Diariamente à meia-noite
